---
import SectionTitle from '../components/SectionTitle.astro';
import FranchiseMechanismCard from '../components/FranchiseMechanismCard.astro';
import { translations } from '../data/translations';
import type { Locale } from '../lib/i18n';

interface Props {
  locale?: Locale;
}

const { locale = 'ja' } = Astro.props;
const mechanismsText = translations.franchise.mechanisms[locale];
---

<section class="p-franchise-mechanisms l-section" data-bg="white" id="section-franchise-mechanisms">
  <div class="l-container">
    <div class="p-franchise-mechanisms__inner l-section__inner">
      <SectionTitle
        title={mechanismsText.title}
        subtitle={mechanismsText.subtitle}
        class="p-franchise-mechanisms__title"
      />
      <div class="p-franchise-mechanisms__cards">
        <FranchiseMechanismCard
          icon='<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 12H21M3 6H21M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
          title={mechanismsText.cards[0].title}
          description={mechanismsText.cards[0].description}
          class="p-franchise-mechanisms__card"
        />
        <FranchiseMechanismCard
          icon='<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"/><polyline points="12 6 12 12 16 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
          title={mechanismsText.cards[1].title}
          description={mechanismsText.cards[1].description}
          class="p-franchise-mechanisms__card"
        />
        <FranchiseMechanismCard
          icon='<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><polyline points="3 6 5 6 21 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
          title={mechanismsText.cards[2].title}
          description={mechanismsText.cards[2].description}
          class="p-franchise-mechanisms__card"
        />
        <FranchiseMechanismCard
          icon='<svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2v6l-2 14h2l2-14V2z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 2v6l2 14h-2l-2-14V2z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 2v20M2 12h20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
          title={mechanismsText.cards[3].title}
          description={mechanismsText.cards[3].description}
          class="p-franchise-mechanisms__card"
        />
      </div>
    </div>
  </div>
</section>

